@import 'icons.scss';

html {
  height:100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  // overflow: hidden;
  position: relative;
  font-family: 'Roboto Mono', monospace;
  width: 150%;
  height: 150%;
}

p {
  color: black;
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: #ccc;
  }
}

nav {
  background:transparent;
  padding: 0 15px;
  position: fixed;

  ul {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;

    li {
      display: inline-flex;

      width: auto;
      padding: 0.25rem 1rem;

      position: relative;
      order: 0;

      background-repeat: no-repeat;
      background-size: 16px;
      background-position: left center;

      &:first-of-type:before,
      a::before,
      p::before {
        content: attr(data-value);
        margin: 0 0.5rem;
      }
    }
  }
}

div,
section {
  &.buttons-container {
    @import 'buttons.scss';
  }
  &.disciplines-container,
  &.entity-details, &.colophon-details {
    padding: 3px;
    border: 2px solid red;

    position: absolute;
    z-index: 2;

    background-color: #fff;
  }
}

.filter {
  padding: 3px;
  border: 2px solid red;

  position: absolute;
  z-index: 1;

  background-color: white;

  &#filter-keywords {
    left: 80px;
    top: 150px;
  }

  &#filter-tools {
    left: 60px;
    top: 100px;
  }

  & > .filter-container {
    display: none;
    list-style: none;
  }
  &:hover > .filter-container {
    display: block;
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    font-size: 80%;

  }

  & > .filter-container > span{
    padding: 10px;
    text-decoration: 1px solid #ff00005e underline;
    line-height: 1.5em;
    cursor: default;
  }
}

#filter-tools{
  border: 2px solid #2af366be;

  & > .filter-container > span {
    text-decoration: 1px solid #2af366be underline;
  }
}

.entity-container {
  position: absolute;

  & > div {
    display: none;
    width: auto;
    padding: 2rem 1rem 1rem;

    left: -8px;
    top: -8px;

    font-size: var(--fontScale);

  }
  &:hover {
    z-index: 10;

    & > div {
      display: block;
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: 6px 6px;
    }
  }

  &--highlighted {
    border-radius: 50%;
    box-shadow: var(--boxShadowX) var(--boxShadowY) 10px 2px var(--highlightedK), var(--boxShadowY) var(--boxShadowX) 15px 5px var(--highlightedT);
  }

  .entity-details {
    & > div:not(:last-of-type) {
      margin-bottom: var(--marginScale);
    }
    .entity-details__disciplines {
      color: red;
    }
    .entity-details__tools {
      color: green;
    }
  }
}
