@import 'icons.scss';

html {
  height:100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  // overflow: hidden;
  position: relative;
  font-family: 'Roboto Mono', monospace;
  width: 100vw;
  height: 100vh;
}

p {
  color: black;
  text-decoration: none;
}

a {
  color: rgb(51,190,225);;
  text-decoration: none;

  &:hover {
    color: #ccc;
  }
}

nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 0;
  position: fixed;
  z-index: 1000;
  

  ul {
    padding: 0.5% 0.5%;
    width: 100%;
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;

    :first-child{
      padding-left: 0;
    }

    li {
      display: inline-flex;
      background-color: white;
      width: auto;
      padding: 0.25rem 1rem;

      position: relative;
      order: 0;

      background-repeat: no-repeat;
      background-size: 16px;
      background-position: left center;

      &:first-of-type:before,
      a::before,
      p::before {
        content: attr(count);
        margin: 0 0.5rem;
      }
    }
    .blury-cover {
      display: none;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      position: fixed;
      background:rgba(99, 101, 117, 0.614);
    }

  }
}

div,
section {
  &.buttons-container {
    @import 'buttons.scss';
  }
  &.disciplines-container,
  &.entity-details, &.colophon-details {
    padding: 3px;
    border: 2px solid red;

    position: absolute;
    z-index: 2;

    background-color: #fff;
  }
}

.link {
  position: fixed;
  z-index: 1;
  cursor: pointer;

  background-color: white;  

  &#link-feedback {
    padding: 5px 13px;
    left: 1%;
    bottom: 50px;
    border: 2px solid purple;
  }

  &#link-contribute {
    padding: 5px 11px;
    left: 1%;
    bottom: 100px;
    border: 2px solid orange;
  }
}

#feedback-link:hover::after {
  margin-left: 0.5rem;
  content:attr(data-attr);
}

#contribute-link:hover::after {
  margin-left: 0.5rem;
  content:attr(data-attr);
}

.filter {
  padding: 5px 12px;
  cursor: pointer;
  position: fixed;
  z-index: 1;

  background-color: white;

  &#filter-keywords {
    left: 1%;
    top: 100px;
  }

  &#filter-tools {
    left: 1%;
    top: 150px;
  }

  &#filter-countryOfResidence {
    left: 1%;
    top: 200px;
  }

  & > .filter-container {
    display: none;
    list-style: none;
  }

  &:hover > .filter-container {
    display: block;
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    font-size: 80%;
  }

  & > .filter-container > span{
    padding: 10px;
    // text-decoration: 1px solid red underline;
    line-height: 1.5em;
    cursor: default;
  }
}

#filter-keywords {
  border: 2px solid red;
  
  & > .filter-container > span {
    text-decoration: 1px solid red underline;
  }  
}

#filter-tools{
  border: 2px solid green;

  & > .filter-container > span {
    text-decoration: 1px solid green underline;
  }
}

#tools-filter{
  &:hover::after {
    content: "tools";
    padding-left: 1%;
    display: inline;
  }
}

#filter-countryOfResidence{
  border: 2px solid gold;

  & > .filter-container > span {
    text-decoration: 1px solid gold underline;
  }
}

.entity-container {
  position: absolute;

  & > div {
    display: none;
    width: auto;
    padding: 2rem 1rem 1rem;

    left: -8px;
    top: -8px;

    font-size: var(--fontScale);

  }
  &:hover {
    z-index: 10;

    & > div {
      display: block;
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: 6px 6px;
    }

    & > div.colophon-details {
      background-size: 25px;
    }
  }

  &--highlighted {
    border-radius: 50%;
  }
  box-shadow: var(--boxShadowX) var(--boxShadowY) 10px 2px var(--highlighted-keywords), var(--boxShadowY) var(--boxShadowX) 15px 5px var(--highlighted-tools), var(--boxShadowY) var(--boxShadowX) 20px 8px var(--highlighted-countryOfResidence);

  .entity-details {
    & > div:not(:last-of-type) {
      margin-bottom: var(--marginScale);
    }
    .entity-details__disciplines {
      color: red;
    }
    .entity-details__tools {
      color: green;
    }
    .entity-details__country {
      color: gold;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  padding-left: 20px;
  cursor: pointer;

  p:hover {
    // border: 1px solid black ;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-decoration: underline;
  }

  .dropdown-content {
    display: none;
    background-color: white;
  
    position: absolute;
    width: 200px;
    min-height: 0px;
    max-height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid black;
    padding: 0;
    z-index: 1;
    overflow-y: scroll;

    a {
      display: block;
      width: 100%;
      border-bottom: 1px solid black;
      text-decoration: none;
    }
  }
}


#connection-card{
  display: none;
  position: relative;
  right: 0%;
  width: 45vw;
  height: 100vh;
  background-color: white;
  border-left:1px solid black ;
  z-index: 1000;

  .card-header{
    height: 8%;
    width: 100%;
    border-bottom: 1px solid black;
  }

  .card-entities-space{
    height: 72%;
  }

  .card-tags-buttons{
    height: 20%;
    width: 100%;
    border-top: 1px solid black;
  }

}