@font-face {
  font-family: "Menlo";
  src: url("/fonts/Menlo-Regular.ttf") format("truetype");
}

*{
 margin:0;
}

html, body {
 height:100%;
}

.overlay {
 position:absolute;
 display: none;
 top:0;
 right:0;
 bottom:0;
 left:0;
 font-family: Menlo;
 font-size: 0.8em;
 z-index:9999;
}

.show {
  display: inherit;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}


.popup {
 position:absolute;
 width: auto;
 height: auto;
 padding: 2%;
 top:25%;
 left:25%;
 text-align:left;
 border-radius: 10px;
 background: white;
 box-shadow: 0px 0px 12px #86BCD8;
 cursor:pointer;
}

.icon {

}